body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
}

body::before {
  content: "";
  background-image: url("./images/profilebg.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
  z-index: -1;
}

#login .container #login-row #login-column #login-box {
  margin-top: 50px;
  max-width: 600px;
  padding-bottom: 20px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.vertical {
  text-align: center;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}